
@foreach (dynamic item in Model)
{
    <li>
        <h5>
            @item.name
        </h5>
        <h5>
            @item.store_id
        </h5>
        <h5>
            @item.id
        </h5>
        <h5>
            @item.lat
        </h5>
        <h5>
            @item.lng
        </h5>
        <h5>
            @item.phone
        </h5>
    </li>
}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
