
@{
    ViewBag.Title = "search_stores";
}

<h2>search_stores</h2>

@functions {
    private static Double rad2deg(Double rad)
    {
        return (rad / Math.PI * 180.0);
    }

    private static Double deg2rad(Double deg)
    {
        return (deg * Math.PI / 180.0);
    }

    private const Double kEarthRadiusKms = 6376.5;

    private static Double CalculateDistance(Double latitude1, Double longitude1, Double latitude2, Double longitude2)
    {
        double theta = longitude1 - longitude2;
        double dist = Math.Sin(deg2rad(latitude1)) * Math.Sin(deg2rad(latitude2)) + Math.Cos(deg2rad(latitude1)) * Math.Cos(deg2rad(latitude2)) * Math.Cos(deg2rad(theta));
        dist = Math.Acos(dist);
        dist = rad2deg(dist);
        dist = dist * 60 * 1.1515;
        dist = dist * 1.609344;
        return (dist);
    }
}



@using (Html.BeginForm("Search_stores", "Stores", FormMethod.Get))
{

    <p>
       
        Title: @Html.TextBox("productname")
        FromPrice: @Html.TextBox("fromPrice")
        ToPrice: @Html.TextBox("toPrice")
        <input type="submit" value="Filter" />
    </p>

    if (ViewBag.model != null)
    {

        <table id="example" class="table table-striped">

            <tr>
              
                <th>
                    Name
                </th>
              
                <th>Distance(miles)</th>

            </tr>


            @foreach (dynamic item in ViewBag.model)
            {

                <tr>                   
                    <td>
                        @item.name
                    </td>
                    <td>@ViewBag.distance</td>
                    <td>@CalculateDistance(Convert.ToDouble(ViewBag.mylat),Convert.ToDouble(ViewBag.mylng), Convert.ToDouble(item.lat), Convert.ToDouble(item.lng))</td>
                   
                    <td>
                        @Html.ActionLink("ViewStore", "search_in_store", new { storeID = item.store_id, productname = ViewBag.productname, fromprice = ViewBag.fromprice, toprice = ViewBag.toprice, lat = item.lat, lng = item.lng })
                        @*@item.store_id*@
                    </td>      

                </tr>

            }
        </table>

       

}
}















  
